[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
dash = "*"
dash-bootstrap-components = "*"
boto3 = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
