[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
pandas = "*"
boto3 = "*"
sqlalchemy = "*"
psycopg2 = "*"
gunicorn = "*"
opencv-python-headless = "==4.5.3.56"

[dev-packages]

[requires]
python_version = "3.9"
