[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
boto3 = "*"
psycopg2 = "*"
gunicorn = "*"
opencv-python-headless = "*"

[dev-packages]

[requires]
python_version = "3.7"
